- content_for :user_options do
  Page-specific options are here.
  Will probably allow some other stuff eventually.

%h2 File Sharing Made Easy

%p
  With only a few steps, you can be sharing files with your colleagues in
  minutes.

%h3 Step 1 - Create a Group

%p 
  Go to the Groups page and create your first group.  Give it a name
  that everyone will recognize and add a few people using their NetIDs.
    
%h3 Step 2 - Upload Some Files

%p
  Go to the Files page and upload some files.  

%h3 Step 3 - Let Everyone in the Group Know

%p
  Send an e-mail to everyone in the group letting them know they can
  go to the File Locker and see the files you uploaded.  No cryptic
  URLs to send.  No passwords or usernames to generate.  Just point
  them at the File Locker and they'll be able to see everything they
  need.
