- content_for :user_options do
  .group-options
    =link_to 'Create Group', { :action => 'new' }

%h1 Your Groups

- if @groups.size > 0
  %ul
    - @groups.each do |group|
      %li= link_to group.name, group
- else
  %p
    You do not have any groups.
    = link_to 'Create a group.', { :action => 'new' }

%h1 Group Memberships

%ul
  - @memberships.each do |group|
    %li= link_to group.name, group

:javascript
  Ext.onReady(function(){
    new Ext.Button({
      text: 'New Group',
      renderTo: 'new-group',
      iconCls: 'silk-add',
      handler: function(b,e) {
        document.location=#{new_group_url.to_json}
      }
    });
  });
